<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://compresvideo20200827185321.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eb6a56ed-b88b-4ac1-850c-1dbcdad2dcab/resourcegroups/rg-tests/providers/Microsoft.Web/sites/CompresVideo20200827185321</ResourceId>
    <UserName>$CompresVideo20200827185321</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://compresvideo20200827185321.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>